body {
  color:#C71585;
  font-family: ATypewriterForMe;
}

h1 {
  color: white;
  text-indent: 10px;
  border-left: 70px solid #FFFACD;
  background-color: #C71585;
}

body.quote {
  text-indent: 150px;
  margin-top: 25px;
  font-size: 30px;
}

@font-face {
  font-family: ATypewriterForMe;
  src: url(ATypewriterForMe.ttf);
}

body.History {
  font-size: 15px;
}
